extends layout

block content

	if message
		h4= message

	if user
		h4= 'Sæll meistari ' + user + ' og vertu velkomin/n í netdagbókina þína'
	else
		h4 Vinsamlegast skráðu þig inn til að dagbókina þína
