body {
  font: 14px "Georgia", Serif, Arial, sans-serif;
  background-image: url("http://oi68.tinypic.com/2ijt73m.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 105% 85%;
}

@media (min-width: 767px) {
    #navigation{
        position: fixed;
    }
}

#navigation{
  height: 100%;
}

nav{
  height: 100%;
}

nav h4{
  padding-top: 10%;
}

.col-xs-offset-right-4 {
  margin-right: 30%;
}

@media (max-width: 767px) {
    nav h4 {
      padding-top: 1%;
    }
}
